@import url("../../vendors/bootstrap/dist/css/bootstrap.min.css");
@import url("../../vendors/font-awesome/css/fontawesome-all.css");

/* @import url("../../../extjs-4.2.2/resources/css/ext-all-neptune.css"); */
@import url("../../../framework/extjs-6.2.0/build/classic/theme-crisp/resources/theme-crisp-all.css");
@import url("../../build/css/custom.min.css");
@import url("../../my/css/extjs.css");
.nav li > a{
  font-size: 14px;
}

.green-title{
  z-index: 2;
  line-height: 2;
  background-color: #03dac5 !important;
  height: 25px;
  color: #fff;
}

.green-border{
  border:1px solid #03dac5 !important;
  padding: 0px !important;
}
.shrinepink-title{
  z-index: 2;
  line-height: 2;
  background-color: #FEDBD0 !important;
  height: 25px;
  color: #442C2E;
}
.shrinepink-border{
  border:2px solid #FEDBD0 !important;
  padding: 0px !important;
}

.btn-custom, .btn-custom:focus{
  border-radius: 0px;
  color: #fff;
  background-color: #0067AE;
}
.btn-custom:hover {
  border-radius: 0px;
  color: #0067AE;
  background-color: #03dac5;
}
.side-menu{
  line-height: 10px !important;
}

/* Return To Top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 12px;
    top: 8px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 3px;
}


/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}
/* ---  End Of Return To Top */
